@model Shop_Online.Models.ViewModels.DetailProduct

@{
    ViewData["Title"] = "";
}
<head>
    <link rel="stylesheet" href="~/css/ProductDetail.css" />
</head>
<div class="container-fluid">
    <div class="container border">
        <div class="row border">
            <div class="col-md-9 border">
                <div class="row">
                    <div class="col-md-5 image-container border">
                        @for (int i = 0; i < Model.productImages.Count(); i++)
                        {
                            <div class="mySlides">
                                <div class="numbertext">@(i+1) / @Model.productImages.Count() </div>
                                <img class="thumbnail display-image" src="@Model.productImages[i].Image" style="width:100%">
                            </div>
                        }


                        <a class="prev" onclick="plusSlides(-1)">❮</a>
                        <a class="next" onclick="plusSlides(1)">❯</a>

                        <div class="row">
                            @for (int i = 0; i < Model.productImages.Count(); i++)
                            {
                                <div class="column">
                                    <img class="demo cursor thumbnail" src="@Model.productImages[i].Image"
                                         style="width:100%" onclick="currentSlide(@i+1)" alt="The Woods">
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-md-7 border">
                        thong tin
                    </div>
                </div>
            </div>
            <div class="col-md-3 border">
                chinh sach ban hang
            </div>
        </div>
        <div class="row border">
            phu kien mua cung
        </div>
        <div class="row border">
            san pham tuong tu
        </div>
    </div>
</div>
<div>
    thuong hieu
</div>
<script type="text/javascript" src="~/js/ProductDetail.js"></script>
<script type="text/javascript" src="~/js/general.js"></script>
<script>
    displayThumbnail();
</script>
